<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Merchant Dashboard</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
		<link rel="icon" href="favicon.png">
		<style>
			html, body
			{
				display: flex;
				flex-direction: column;
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
			}

			html
			{
				font-size: 16px;
				font-family: 'Roboto', serif;
			}

			body, body *
			{
				box-sizing: border-box;
			}

			table
			{
				flex-basis: 100%;
				border-collapse: separate;
				border: none;
			}

			th, td
			{
				padding: 0.25rem;
			}

			thead > tr > th
			{
				position: sticky;
				height: 2.25rem;
				outline: 0.10rem solid white;
				margin: 0;
				background-color: rgb(204, 204, 204);
			}

			thead > tr:nth-child(1) > th
			{
				top: 0.10rem;
			}

			thead > tr:nth-child(2) > th
			{
				top: 2.45rem;
			}

			tbody > tr:nth-child(odd) > th,
			tbody > tr:nth-child(odd) > td
			{
				background-color: rgba(0, 0, 0, 0.04);
			}
			tbody > tr:nth-child(even) > th,
			tbody > tr:nth-child(even) > td
			{
				background-color: rgba(0, 0, 0, 0.07);
			}

			tbody > tr > td:first-child
			{
				text-align: center;
			}
			tbody > tr > th
			{
				text-align: left;
			}
			tbody > tr > td
			{
				text-align: right;
				font-family: monospace;
			}

			tbody > tr > th > div
			{
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: flex-start;
			}
			tbody > tr > td > div
			{
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: flex-end;
			}

			strong
			{
				font-size: 1.0rem;
				color: rgba(0, 0, 0, 1.00);
				margin-top: 0.10rem;
			}

			small
			{
				font-size: 0.70rem;
				color: rgba(0, 0, 0, 0.45);
				margin: 0.10rem;
				max-width: 64ex;
				word-break: break-all;
			}

			#overlay
			{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				background-color: rgba(255, 255, 255, 0.85);
			}

			select,
			input
			{
				width: 100%;

				margin-left: 0.10rem;
				margin-right: 0.10rem;

				padding: 0.10rem;
				height: 2.05rem;
			}

			button
			{
				width: 100%;
				padding: 0.10rem;
				margin: 0.10rem 0rem;
				height: 2.05rem;
			}

			select:first-child,
			input:first-child,
			button:first-child
			{
				margin-left: auto;
			}
			select:last-child,
			input:last-child,
			button:last-child
			{
				margin-right: auto;
			}

			input
			{
				padding-left: 0.75ex;
				padding-right: 0.75ex;
			}

			tr.notice { background-color: rgba(255, 255, 224, 0.70) !important; }
			tr.warning { background-color: rgba(255, 224, 224, 0.70) !important; }

			fieldset
			{
				flex-basis: 100%;
				border: none;
				background-color: rgba(0, 0, 0, 0.11);
			}
		</style>
	</head>
	<body aurelia-app="main">
	</body>
</html>
