<template>
	<table>
		<thead>
			<tr>
				<th colspan='10'>
					<span>Overview</span>
					<br />
					<small>(based on 30 days using todays price)</small>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
				</td>
				<td colspan='1'>
					<div style='justify-content: flex-start; align-items: flex-start;'>
						<span><b>${wallets.size.toString().padStart(3, '‎ ')}</b></span>
						<small>&nbsp;merchants</small>
					</div>
					<div style='justify-content: flex-start;'>
						<span><b style='color: purple'>${walletsWithLowBalance.toString().padStart(3, '‎ ')}</b></span>
						<small>&nbsp;low balance</small>
					</div>
					<div style='justify-content: flex-start;'>
						<span><b style='color: blue'>${walletsWithHighBalance.toString().padStart(3, '‎ ')}</b></span>
						<small>&nbsp;high balance</small>
					</div>
				</td>
				<td colspan='1'>
					<div style='justify-content: flex-start;'>
						<span><b style='color: green;'>${walletsWithSomeActivity.toString().padStart(3, '‎ ')}</b></span>
						<small>&nbsp;some activity</small>
					</div>
					<div style='justify-content: flex-start;'>
						<span><b style='color: grey;'>${walletsWithLowActivity.toString().padStart(3, '‎ ')}</b></span>
						<small>&nbsp;low activity</small>
					</div>
					<div style='justify-content: flex-start;'>
						<span><b style='color: red;'>${walletsWithNoActivity.toString().padStart(3, '‎ ')}</b></span>
						<small>&nbsp;no activity</small>
					</div>
				</td>
				<td colspan='1'>
					<div style='justify-content: flex-start;'>
						<span><b style='color: green;'>${walletsWithSomeVolume.toString().padStart(3, '‎ ')}</b></span>
						<small>&nbsp;some volume</small>
					</div>
					<div style='justify-content: flex-start;'>
						<span><b style='color: grey;'>${walletsWithLowVolume.toString().padStart(3, '‎ ')}</b></span>
						<small>&nbsp;low volume</small>
					</div>
					<div style='justify-content: flex-start;'>
						<span><b style='color: red;'>${walletsWithNoVolume.toString().padStart(3, '‎ ')}</b></span>
						<small>&nbsp;no volume</small>
					</div>
				</td>
				<td>
					<div style='height: 100%; flex-direction: column; justify-content: space-evenly;'>
						<input id='inputUploadFile' type="file" files.bind="selectedFiles" change.delegate='handleUploadedMerchantList()' style='display: none;'>
						<button click.trigger="importMerchantList()" disabled.bind="readOnly">📂</button>
						<button click.trigger="exportMerchantList()" disabled.bind="readOnly">💾</button>
					</div>
				</td>

				<td colspan='2'>
					<div>
						<span>${monthlyTransactions}</span>
						<small>&nbsp;total&nbsp;TXs</small>
					</div>
					<div>
						<span>${(monthlyVolume / 100000000).toFixed(2)}</span>
						<small>&nbsp;total&nbsp;BCH</small>
					</div>
				</td>

				<td colspan='2'>
					<div>
						<span>${(monthlyMaximum / 100000000).toFixed(2)}</span>
						<small>&nbsp;maximum&nbsp;BCH</small>
					</div>
					<div>
						<span>${(monthlyAverage / 100000000).toFixed(2)}</span>
						<small>&nbsp;average&nbsp;BCH</small>
					</div>
					<div>
						<span>${(monthlyMedian / 100000000).toFixed(2)}</span>
						<small>&nbsp;&nbsp;median&nbsp;BCH</small>
					</div>
				</td>

				<td colspan='1'>
					<div>
						<span>${((monthlyMaximum / 100000000) * exchangeRates.get(selectedCurrency)).toFixed(2)}</span>
						<small>&nbsp;maximum&nbsp;${selectedCurrency}</small>
					</div>
					<div>
						<span>${((monthlyAverage / 100000000) * exchangeRates.get(selectedCurrency)).toFixed(2)}</span>
						<small>&nbsp;average&nbsp;${selectedCurrency}</small>
					</div>
					<div>
						<span>${((monthlyMedian / 100000000) * exchangeRates.get(selectedCurrency)).toFixed(2)}</span>
						<small>&nbsp;&nbsp;median&nbsp;${selectedCurrency}</small>
					</div>
				</td>
			</tr>
		</tbody>
		<thead>
			<tr>
				<th colspan='5'>Merchant</th>
				<th colspan='4'>Utilization <small>(based on blockheight)</small></th>
				<th colspan='1'>Balance <small>(based on  ${exchangeRates.get(selectedCurrency)} ${selectedCurrency}/BCH)</small></th>
			</tr>
			<tr>
				<th style='width: 3rem;' title='current status, based on the last month'>ℹ️</th>
				<th colspan='3'>
					<form submit.trigger="addOrUpdateMerchant()" style='display: flex;'>
						<input type="text" disabled.bind="readOnly" value.bind="merchantName" placeholder='Name of the merchant..' style='flex-grow: 10;'>
						<input type="text" disabled.bind="readOnly" value.bind="merchantAddress" placeholder='Address or extended public key..' style='flex-grow: 10;'>
					</form>
				</th>
				<th style='width: 3rem;'>
					<form submit.trigger="addOrUpdateMerchant()" style='display: flex;'>
						<button type="submit" disabled.bind="readOnly || (!merchantAddress && !merchantName)">➕</button>
					</form>
				</th>
				<th>7D</th>
				<th>30D</th>
				<th>90D</th>
				<th>ALL</th>
				<th>
					<form style='display: flex;'>
						<select disabled.bind="readOnly" click.trigger="updateMerchantFiatValues()" value.bind="selectedCurrency" change.delegate="saveSelectedCurrency()" style='flex-grow: 10;'>
							<option repeat.for='[ symbol, name ] of availableCurrencies' value='${symbol}'>${name}</option>
						</select>
					</form>
				</th>
			</tr>
		</thead>
		<tbody id='merchantList'>
			<tr repeat.for='[ address, wallet ] of wallets'>
				<td title='${warnings[address].text}'>${warnings[address].icon}</td>
				<th colspan='3'>
					<div>
						<strong>${wallet.walletName}</strong>
					</div>
					<div>
						<small>${address}</small>
					</div>
				</th>
				<th>
					<button click.trigger="removeMerchant(address)" disabled.bind="readOnly">🗑️</button>
				</th>
				<td>
					<div>
						<span>${wallet.transactionsLastWeek.length}</span>
						<small>&nbsp;TXs</small>
					</div>
					<div>
						<span>${(wallet.receivedSatoshisLastWeek / 100000000).toFixed(2)}</span>
						<small>&nbsp;BCH</small>
					</div>
				</td>
				<td>
					<div>
						<span>${wallet.transactionsLastMonth.length}</span>
						<small>&nbsp;TXs</small>
					</div>
					<div>
						<span>${(wallet.receivedSatoshisLastMonth / 100000000).toFixed(2)}</span>
						<small>&nbsp;BCH</small>
					</div>
				</td>
				<td>
					<div>
						<span>${wallet.transactionsLastQuarter.length}</span>
						<small>&nbsp;TXs</small>
					</div>
					<div>
						<span>${(wallet.receivedSatoshisLastQuarter / 100000000).toFixed(2)}</span>
						<small>&nbsp;BCH</small>
					</div>
				</td>
				<td>
					<div>
						<span>${wallet.transactionsAllTime.length}</span>
						<small>&nbsp;TXs</small>
					</div>
					<div>
						<span>${(wallet.receivedSatoshisAllTime / 100000000).toFixed(2)}</span>
						<small>&nbsp;BCH</small>
					</div>
				</td>
				<td>
					<div>
						<span>${((wallet.balanceInSatoshis / 100000000) * exchangeRates.get(selectedCurrency)).toFixed(2)}</span>
						<small>&nbsp;${selectedCurrency}</small>
					</div>
					<div>
						<span>${(wallet.balanceInSatoshis / 100000000).toFixed(2)}</span>
						<small>&nbsp;BCH</small>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</template>
